################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Server_Manager/Domain/chamcongclb-service-account.json
.env
