.events {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
}

.events li {
    margin-bottom: 4px;
}

.ant-modal {
    top: 20%;
}

.events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notesMonth {
    font-size: 28px;
    text-align: center;
}

.notesMonth section {
    font-size: 28px;
}

.calendarContainer {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}

.dayViewContainer {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.dayViewHeader {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dropdownCalendar {
    width: 300px;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.selectedDate {
    cursor: pointer;
    margin: 0;
}

.addEventButton {
    margin-top: 10px;
    margin-bottom: 10px;
}

.eventsList {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.eventButton {
    font-size: 12px;
    padding: 4px;
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    border-left: 4px solid;
    border-radius: 0;
}